.sidebar_xxxxxxxxxxxx {
    width: 100%;
    padding: 0.25rem 1rem;
}
.sidebar_xxxxxxxxxxxx__blogs {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;

}
.sidebar_xxxxxxxxxxxx__blog {
    padding: 0.25rem 1rem;
    width: 100%;
    cursor: pointer;
}
.sidebar_xxxxxxxxxxxx__blog:hover {
    background-color: lightgray;
}
.sidebar_xxxxxxxxxxxx__blogs_title {
    padding: 0.5rem;
    text-decoration: underline;
}
.sidebar_notfound {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: white;
}
.searchbar_bottom_radius {
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 30px;
    background-color: white;
}